<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productByGender.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="featured-products">
            <header class="carousel-title">
                <h4>NUESTRA VESTIMENTA PARA HOMBRE</h4>
                <div class="swipper-buttons">
                    <div id="swipper-button-left">
                        <img src="/images/index/swipper-button-left.svg" alt="swp left" />
                    </div>
                    <div id="swipper-button-right">
                        <img src="/images/index/swipper-button-right.svg" alt="swp right"/>
                    </div>
                </div>
            </header>
            <div class="carousel-container" id="carousel-container">
                <% for(product of clothesForMen) { %>
                    <form action="/products/detail/<%= product.id %>" method="GET" class="carousel-item">
                        <button type="submit">
                            <img src="/images/productDetail/<%= product.dataValues.images[0].url_image %>" alt="<%= product.title %>">
                        <div class="item-description">
                            <p class="item-name"><%= product.title %></p>
                            <div class="item-price-container">
                                <% if (product.discounts && product.discounts.dataValues && product.discounts.dataValues.percent) { %>
                                    <p class="item-price-old">$<%= parseFloat(product.dataValues.price).toFixed(3) %></p>
                                    <p class="item-price">$<%= (parseFloat(product.dataValues.price) - (parseFloat(product.dataValues.price) * (product.discounts.dataValues.percent / 100))).toFixed(3) %></p>
                                    <p class="item-discount">%<%= product.discounts.dataValues.percent %></p>
                                <% } else { %>
                                    <p class="item-price">$<%= parseFloat(product.dataValues.price).toFixed(3) %></p>
                                <% } %>
                            </div>
                        </div>
                    </button>
                    </form>
                <% } %>
            </div>
        </section>
        <section class="featured-products">
            <header class="carousel-title">
                <h4>CALZADO PARA HOMBRES</h4>
                <div class="swipper-buttons">
                    <div id="swipper-button-left">
                        <img src="/images/index/swipper-button-left.svg" alt="swp left" />
                    </div>
                    <div id="swipper-button-right">
                        <img src="/images/index/swipper-button-right.svg" alt="swp right"/>
                    </div>
                </div>
            </header>
            <div class="carousel-container" id="carousel-container">
                <% for(product of footwearForMen) { %>
                    <form action="/products/detail/<%= product.id %>" method="GET" class="carousel-item">
                        <button type="submit">
                            <img src="/images/productDetail/<%= product.dataValues.images[0].url_image %>" alt="<%= product.title %>">
                        <div class="item-description">
                            <p class="item-name"><%= product.title %></p>
                            <div class="item-price-container">
                                <% if (product.discounts && product.discounts.dataValues && product.discounts.dataValues.percent) { %>
                                    <p class="item-price-old">$<%= parseFloat(product.dataValues.price).toFixed(3) %></p>
                                    <p class="item-price">$<%= (parseFloat(product.dataValues.price) - (parseFloat(product.dataValues.price) * (product.discounts.dataValues.percent / 100))).toFixed(3) %></p>
                                    <p class="item-discount">%<%= product.discounts.dataValues.percent %></p>
                                <% } else { %>
                                    <p class="item-price">$<%= parseFloat(product.dataValues.price).toFixed(3) %></p>
                                <% } %>
                            </div>
                        </div>
                    </button>
                    </form>
                <% } %>
            </div>
        </section>
        <a class="btn-whatsapp bt-wsp-right">
            <img src="/images/index/whatsapp-pill.svg" alt="Whatssapp Pill" />
        </a>
    </main>
    <%- include('./partials/footer.ejs') %>
    
    <script src="/js/carousel.js"></script>
</body>
</html>
