<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container-form">
            <form method="POST" action="<%= !product ? '/products/create' : '/products/edit/' + product.id + '?_method=PUT' %>" class="form" enctype="multipart/form-data">
                <%- product ? '<h2>Actualización del Producto</h2>' : '<h2>Registro de Producto</h2>' %>
                <div class="input-information">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" id="name"  class="style-input" placeholder="Ingrese el nombre del producto" value="<%= product ? product.title : '' %>">
                    <% if(locals.errors && errors.name){ %>
                        <span class="msg-error">* <%= errors.name.msg %></span>
                    <% } %>
                </div>                
                <div class="input-information">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" class="style-input" placeholder="Ingrese el precio del producto" value="<%= product ? product.price : 0 %>">
                    <% if(locals.errors && errors.price){ %>
                        <span class="msg-error">* <%= errors.price.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="category">Categoría</label>
                    <select name="category" id="category" class="style-input">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" <%= product && product.category_id == category.id ? 'selected' : '' %>> <%= category.name %></option>
                        <% }); %>
                    </select>
                    <% if(locals.errors && errors.category){ %>
                        <span class="msg-error">* <%= errors.category.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="gender">Género</label>
                    <select name="gender" id="gender" class="style-input">
                        <% genders.forEach(gender => { %>
                            <option value="<%= gender.id %>" <%= product && product.gender_id == gender.id ? 'selected' : '' %>> <%= gender.name %></option>
                        <% }); %>
                    </select>
                    <% if(locals.errors && errors.gender){ %>
                        <span class="msg-error">* <%= errors.gender.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="color">Colores</label>
                    <% if (product && product.colors.length > 0) { %>
                        <% colors.forEach(color => { %>
                            <div>
                                <input type="checkbox" name="colors[]" id="color_<%= color.id %>" value="<%= color.id %>" 
                                    <% if (product && product.colors.find(productColor => productColor.id === color.id)) { %>
                                        checked
                                    <% } %>
                                >
                                <label for="color_<%= color.id %>"><%= color.name %></label>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>Color no disponible</p>
                    <% } %>
                    <% if(locals.errors && errors.colors){ %>
                        <span class="msg-error">* <%= errors.colors.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="size">Talles</label>
                    <% if (product && product.sizes.length > 0) { %>
                        <% sizes.forEach(size => { %>
                            <div>
                                <input type="checkbox" name="sizes[]" id="size_<%= size.id %>" value="<%= size.id %>" 
                                    <% if (product && product.sizes.find(productSize => productSize.id === size.id)) { %>
                                        checked
                                    <% } %>
                                >
                                <label for="size_<%= size.id %>"><%= size.measurement %></label>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>Talle no disponible</p>
                    <% } %>
                    <% if(locals.errors && errors.sizes){ %>
                        <span class="msg-error">* <%= errors.sizes.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="offer">Descuento del producto (opcional)</label>
                    <select name="offer" id="offer" class="style-input">
                        <% for(discount of discounts) { %>
                                <option value="<%= discount.id %>" <%= product && product.discount_id == discount.id ? 'selected' : '' %>> <%= discount.percent %> %</option>
                            <% } %>
                    </select>
                    <% if(locals.errors && errors.offer){ %>
                        <span class="msg-error">* <%= errors.offer.msg %></span>
                    <% } %>
                </div>
                
                    <label for="imgs">Imágenes del producto</label>
                    <input type="file" name="img" id="imgs" multiple class="style-input">
                    <% if(locals.errors && errors.img){ %>
                        <span class="msg-error">* <%= errors.img.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="description">Descripción general</label>
                    <textarea name="overview" id="description" cols="30" rows="5" class="style-input" ><%= product ? product.dataValues.overview : '' %></textarea>
                    <% if(locals.errors && errors.overview){ %>
                        <span class="msg-error">* <%= errors.overview.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="careInstructions">Instrucciones de cuidado</label>
                    <textarea name="careInstructions" id="careInstructions" cols="30" rows="5" class="style-input"><%= product ? product.dataValues.care_instructions : '' %></textarea>
                    <% if(locals.errors && errors.careInstructions){ %>
                        <span class="msg-error">* <%= errors.careInstructions.msg %></span>
                    <% } %>
                </div>
                <div class="input-information">
                    <label for="composition">Composición</label>
                    <textarea name="composition" id="composition" cols="30" rows="5" class="style-input"><%= product ? product.dataValues.composition : '' %></textarea>
                    <% if(locals.errors && errors.composition){ %>
                        <span class="msg-error">* <%= errors.composition.msg %></span>
                    <% } %>
                </div>
                <div class="container-button">
                    <button type="submit" class="button-style"> <%= product ? 'ACTUALIZAR' : 'REGISTRAR' %> </button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>