<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container-form">
            <form action="" method="post" class="form">
                <% if(product){ %>
                    <h2>Actualización del Producto</h2>
                <% }else{ %>
                    <h2>Registro de Producto</h2>
                <%}%>
                <div class="input-information">
                    <label for="name">Nombre del producto: </label>
                    <input type="text" name="name" id="name" required class="style-input" value="<%= product?product.name:"" %>">
                </div>                
                <div class="input-information">
                    <label for="price">Precio: </label>
                    <input type="number" name="price" id="price" class="style-input" value="<%= product?product.price:"" %>">
                </div>
                <div class="input-information">
                    <label for="color">Colores: </label>
                    <input type="text" name="colors[]" id="color" class="style-input" placeholder="Rojo, Verde, Negro" value="<%= product?product.colors.map(color => ' '+color):''%>">
                </div>
                <div class="input-information">
                    <label for="size">Ingrese los talles: </label>
                    <input type="text" name="sizes[]" id="size" class="style-input" placeholder="38, XML, 40" value="<%= product?product.sizes.map(size => ' '+size):''%>">
                </div>
                <div class="input-information">
                    <label for="offer">Ingrese el descuento para la oferta: </label>
                    <input type="number" name="offer" id="offer" class="style-input" value="<%= product?(product.offer!=0?+product.offer:0):0 %>" placeholder="50" min="1">
                </div>
                <div class="input-information">
                    <label for="imgs">Ingrese imagenes del producto</label>
                    <input type="file" name="img" id="imgs" accept=".jpg" multiple class="style-input">
                </div>
                <div class="input-information">
                    <label for="description">Descripción general: </label>
                    <textarea name="overview" id="description" cols="30" rows="5" class="style-input" required><%= product?product.description.overview:"" %></textarea>
                </div>
                <div class="input-information">
                    <label for="careInstructions">Instruccion de cuidado: </label>
                    <textarea name="careInstructions" id="careInstructions" cols="30" rows="5" class="style-input"><%= product?product.description.careInstructions:"" %></textarea>
                </div>
                <div class="input-information">
                    <label for="composition">Composición: </label>
                    <textarea name="composition" id="composition" cols="30" rows="5" class="style-input"><%= product?product.description.composition:"" %></textarea>
                </div>
                <div class="container-button">
                    <button type="submit" class="button-style"> <%= product?"ACTUALIZAR":"REGISTRAR" %> </button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>