<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>

    <link rel="shortcut icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/shoppingCart.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container-shopping-cart">
            <section class="product-list">
                <header>
                    <h4>CARRITO</h4>
                </header>
                <section class="shopping-info">
                    <article>
                        <a href="#">
                            <h4>ENVÍOS A TODO EL PAÍS</h4>
                            <p>Recibi tu pedido de 3 a 5 días hábiles. Conocé más acá.</p>
                        </a>
                    </article>
                    <article>
                        <a href="#">
                            <h4>CAMBIOS Y DEVOLUCIONES</h4>
                            <p>Hasta 30 días después de haber realizado la compra. Conocé más acá.</p>
                        </a>
                    </article>
                    <article>
                        <a href="#s">
                            <h4>MÉTODOS DE PAGO</h4>
                            <p>3 cuotas sin interés y 6 cuotas sin interés a partir de $60.000.</p>
                        </a>
                    </article>
                </section>
                <div class="table-header">
                    <h3 class="first-header-info">ART.</h3>
                    <h3 class="talle-header-info">TALLE</h3>
                    <h3 class="cantidad-header-info">Cant.</h3>
                    <h3 class="precio-header-info">Precio</h3>
                    <h3 class="borrar-header-info">Borrar</h3>
                </div>
                <% if(shoppingCart.length == 0 ) { %>
                    <div class="empty-cart-container">
                        <p class="empty-cart-title">TU CARRITO ESTÁ VACÍO</p>
                        <p class="empty-cart-description">No hay articulos en su carrito.</p>
                        <p class="empty-cart-description">Haga&nbsp; <a href="/">click acá</a> &nbsp;para continuar comprando.</p>
                    </div>
                <% }else { %>
                    <% shoppingCart.forEach(product => { %>
                        <article class="container-product">
                            <img src="/images/productDetail/<%= product.images[0].dataValues.url_image %>" alt="<%= product.name %>">
                            <div class="product-info">
                                <h4 class="product-name">
                                    <%= product.name %>
                                    <div class="color-table">
                                        Color: Black
                                    </div>
                                </h4>
                                <h4 class="talle"><span>Talle:</span> 40</h4>
                                <h4 class="color">Color:  Black</h4>
                                <div class="content-price">
                                    <% if(!product.discount_id) { %>
                                        <p>$<%= product.price %></p>
                                    <% }else { %>
                                        <p class="price">$<%= product.price %></p>
                                        <p class="discount">$ <%= (product.price - (product.price * (product.discounts.dataValues.percent / 100))) %></p>
                                    <% } %>
                                </div>
                                <div class="container-button-add-subtract">
                                    <button type="button" class="minus">-</button>
                                    <p>N</p>
                                    <button type="button" class="plus">+</button>
                                </div>
                            </div>
                            <div class="delete-icon">
                                <form action="/cart/remove-from-cart/<%= product.product_id %>" method="POST">
                                    <button type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </article>
                    <% }) %>
                <% } %>
            </section>
            <section class="container-form">
                <article class="help-me">
                    <p><span>¿Necesitas ayuda?</span> Consulta nuestras <a href="#">preguntas frecuentes</a></p>
                </article>
                <form action="#" method="post" class="style-form">
                    <div>
                        <label for="add-discount">¿Tenés un código de descuento?</label>
                        <input type="text" name="add-discount" id="add-discount" placeholder="Código de descuento">
                        <button type="button" class="button-style">APLICAR</button>
                    </div>
                </form>
                <form action="" method="get" class="style-form">
                    <div>
                        <label for="send-method">Selecioná un tipo de envío</label>
                        <select name="send-method" id="send-method" class="shipping-option">
                            <option value="#" selected disabled>Elegí un método de envío</option>
                            <option value="domicilio">Envío a domicilio - $ N</option>
                            <option value="sucursal">Retiro en Sucursal ? - $ N</option>
                            <option value="local">Retiro en local Sin Cargo</option>
                        </select>
                    </div>
                    <div>
                        <div class="resumen-header">
                            <p>Subtotal</p>
                            <p>Envío</p>
                            <h4 class="total">Total</h4>
                        </div>
                        <div class="resumen-content">
                            <p>$ ##,#####</p>
                            <p>No seleccionado</p>
                            <h4 class="total">$ ##,#####</h4>
                        </div>
                    </div>
                    <div class="container-button">
                        <a href="/cart/checkout" class="button-style">COMPLETAR COMPRA</a>
                        <button type="button" class="button-continue">SEGUIR COMPRANDO</button>
                    </div>
                </form>
            </section>
        </section>
        <a class="btn-whatsapp bt-wsp-right">
            <img src="/images/index/whatsapp-pill.svg" alt="Whatssapp Pill" />
        </a>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>