<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="shortcut icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <main>
        <section class="container-form">
            <form action="/users/login" method="POST" class="login-form">
                <div class="login-header">
                    <img src="/images/logo-lumina.png" alt="logo de lumina">
                    <h2>Iniciar sesión en Lumina</h2>
                </div>
                <div class="login-google">
                    <button type="button"><i class="fab fa-google"></i> GOOGLE</button>
                </div>
                <div class="login-google">
                    <button type="button"><i class="fab fa-facebook"></i> FACEBOOK</button>
                </div>
                <div class="division"></div>
                <% if(locals.errors) { %>
                    <div class="error-container">
                        <% for(let oneError in errors) { %>
                            <p>* <%= errors[oneError].msg %></p>
                        <% } %>
                    </div>
                <% } %>
                <div class="input-information <%= locals.errors && errors.email ? 'error-input' : null %>">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="Ingrese su dirección de e-mail">
                </div>
                <div class="input-information <%= locals.errors && errors.password ? 'error-input' : null %>">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" value="<%= locals.oldData ? oldData.password : null %>" placeholder="Ingrese su contraseña">
                </div>
                <div class="help-me">
                    <div>
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Recordar</label>
                    </div>
                    <div>
                        <a href="#">Olvidé mi contraseña</a>
                    </div>
                </div>
                <div class="container-button">
                    <button type="submit" class="button-style">INICIAR SESIÓN</button>
                    <button type="submit" class="button-continue">REGISTRARME</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>