<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumina</title>
    <link rel="shortcut icon" href="/images/logo-lumina.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
  <main>
    <section class="container-form">
        <form action="/users/register" method="post" class="login-form" enctype="multipart/form-data" id="user-register-form">
            <div class="login-header">
                <img src="/images/logo-lumina.png" alt="logo de lumina">
                <h2>Registrarse en Lumina</h2>
            </div>
            <fieldset>
              <legend>Información personal</legend>
              <div class="input-information">
                <label for="firstName">Nombre completo</label>
                <input type="text" name="firstName" id="firstName" placeholder="Ingresá tu nombre" value="<%= locals.errors ? oldData.firstName : '' %>" >
                <% if(locals.errors && errors.firstName){ %>
                  <span class="msg-error">* <%= errors.firstName.msg %></span>
                <% } %>
                <span class="msg-error" id="firstNameError"></span>
              </div>
              <div class="input-information">
                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" id="lastName" placeholder="Ingresá tu apellido"  value="<%= locals.errors ? oldData.lastName : '' %>">
                <% if(locals.errors && errors.lastName){ %>
                  <span class="msg-error">* <%= errors.lastName.msg %></span>
                <% } %>
                <span class="msg-error" id="lastNameError"></span>
              </div>
              <div class="input-information">
                <label for="birthdate">Fecha de nacimiento</label>
                <input type="date" name="birthdate" id="birthdate" value="<%= locals.errors ? oldData.birthdate : '' %>">
                <% if(locals.errors && errors.birthdate){ %>
                  <span class="msg-error">* <%= errors.birthdate.msg %></span>
                <% } %>
                <span class="msg-error" id="birthDateError"></span>
              </div>
            </fieldset>
            <fieldset>
              <legend>Datos de contacto</legend>
              <div class="input-information">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="email" placeholder="Ingresá tu e-mail" value="<%= locals.errors ? oldData.email : '' %>" >
                <% if(locals.errors && errors.email){ %>
                  <span class="msg-error">* <%= errors.email.msg %></span>
                <% } %>
                <span class="msg-error" id="emailError"></span>
              </div>
              <div class="input-information">
                <label for="phone">Número de teléfono</label>
                <input type="tel" name="phone" id="phone" placeholder="Ingresá tu numero de teléfono" value="<%= locals.errors ? oldData.phone : '' %>">
                <% if(locals.errors && errors.phone){ %>
                  <span class="msg-error">* <%= errors.phone.msg %></span>
                <% } %>
                <span class="msg-error" id="phoneError"></span>
              </div>
            </fieldset>
            <fieldset>
              <legend>Información de la cuenta</legend>
              <div class="input-information">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña" >
                <% if(locals.errors && errors.password){ %>
                  <span class="msg-error">* <%= errors.password.msg %></span>
                <% } %>
                <span class="msg-error" id="passwordError"></span>
              </div>
              <div class="input-information">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmá tu contraseña" >
                <% if(locals.errors && errors.confirmPassword){ %>
                  <span class="msg-error">* <%= errors.confirmPassword.msg %></span>
                <% } %>
                <span class="msg-error" id="confirmPasswordError"></span>
              </div>
              <div class="input-information">
                <label for="photo">Imagen de perfil</label>
                <input type="file" name="photo" id="photo">
                <% if(locals.errors && errors.photo){ %>
                  <span class="msg-error">* <%= errors.photo.msg %></span>
                <% } %>
              </div>
            </fieldset>
          <div class="help-me">
            <div>
                <p>¿Ya tienes una cuenta?</p>
            </div>
            <div class="login">
                <a href="/users/login">Inicia sesión</a>
            </div>
        </div>
          <div class="container-button">
              <button type="submit" class="button-continue">REGISTRARME</button>
          </div>
        </form>
    </section>
</main>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/js/validationUserRegister.js"></script>

</body>

</html>